body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

/* .trigger-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
} */

/* .chabot-trgger-btn {
    border-radius: 30px;
    background: linear-gradient(90deg, #0000ffa1, #9c14f777);
    border: 0.1px solid darkgrey;
    padding: 10px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
} */

.chat-container {
    display: flex;
    height: 98vh;
    padding: 0px;
    margin: 0px;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
}

/* .hidden {
    display: none;
} */
